# Toronto Bike Share Project

The files obtained were stored as seperate CSV based on each month. The years range from 2021 to the now current, 2023. The files needs to be first combined into one CSV for easier use across Python, Tableau and MySql.

In [1]:
# importing necessary libraries
import numpy as np
import pandas as pd
import os

In [34]:
# combining all the csv files into one file

directory = 'data/'
# an empty DataFrame to hold all the data
combined_data = pd.DataFrame()

# iterate through each csv file in the directory
for filename in os.listdir(directory):
    if filename.endswith('csv'):
        filepath = os.path.join(directory, filename)
        print(filepath)
        # read the csv file into a DataFrame
        df = pd.read_csv(filepath, encoding='latin-1', skipinitialspace=True)
        df.columns = df.columns.str.replace('ï»¿', '')
        print(df.columns)
        # append the DataFrame to the combined_data DataFrame
        combined_data = combined_data.append(df, ignore_index=True)
        
# Save the combined data to a new Excel file
combined_data.to_csv('CombinedData.csv', index=False)

data/Bike share ridership 2021-01.csv
Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-02.csv
Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)
C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

data/Bike share ridership 2021-03.csv
Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-04.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-05.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-06.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-07.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-08.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-09.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-10.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-11.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2021-12.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-01.csv
Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)
C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

data/Bike share ridership 2022-02.csv
Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-03.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-04.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-05.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-06.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-07.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-08.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-09.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-10.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2022-11.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

data/Bike share ridership 2022-12.csv
Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

data/Bike share ridership 2023-01.csv
Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')
data/Bike share ridership 2023-02.csv

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

data/Bike share ridership 2023-03.csv
Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type'],
      dtype='object')

C:\Users\mager\AppData\Local\Temp\ipykernel_10428\2807638966.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df, ignore_index=True)

In [47]:
# setting df to combined_data for easier access
df = combined_data

In [48]:
# Understanding the data
df

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
0,10644218,1315,7021,01/01/2021 00:04,Bay St / Albert St,7164.0,01/01/2021 00:26,Gould St / Yonge St (Ryerson University),6795.0,Annual Member
1,10644220,396,7534,01/01/2021 00:07,Walnut Ave / Queen St W,7524.0,01/01/2021 00:13,Lisgar Park,4176.0,Casual Member
2,10644221,86,7162,01/01/2021 00:10,Hayter St / Laplante Ave,7006.0,01/01/2021 00:11,Bay St / College St (East Side),1814.0,Annual Member
3,10644222,741,7003,01/01/2021 00:10,Madison Ave / Bloor St W,7272.0,01/01/2021 00:22,Yonge St / Dundonald St - SMART,198.0,Casual Member
4,10644223,2073,7562,01/01/2021 00:11,Priscilla Ave / Dundas St W - SMART,7562.0,01/01/2021 00:45,Priscilla Ave / Dundas St W - SMART,6688.0,Casual Member
...,...,...,...,...,...,...,...,...,...,...
8773102,20809572,466,7000,03/31/2023 23:56,Fort York Blvd / Capreol Ct,7772.0,04/01/2023 00:04,NaN,6288.0,Annual Member
8773103,20809573,423,7012,03/31/2023 23:57,Elizabeth St / Edward St (Bus Terminal),7102.0,04/01/2023 00:04,Nelson St / Duncan St,4049.0,Casual Member
8773104,20809574,553,7329,03/31/2023 23:58,Crawford St / Queen St W,7072.0,04/01/2023 00:07,Fleet St / Bathurst St,2892.0,Annual Member
8773105,20809575,305,7253,03/31/2023 23:58,John St / Mercer St - SMART,7321.0,04/01/2023 00:03,Front St W / University Ave (2),5460.0,Casual Member
8773106,20809577,690,7546,03/31/2023 23:59,Ross St / Cecil St - SMART,7693.0,04/01/2023 00:11,NaN,6214.0,Casual Member

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8773107 entries, 0 to 8773106
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   Trip Id             int64
 1   Trip  Duration      int64
 2   Start Station Id    int64
 3   Start Time          object
 4   Start Station Name  object
 5   End Station Id      float64
 6   End Time            object
 7   End Station Name    object
 8   Bike Id             float64
 9   User Type           object
dtypes: float64(2), int64(3), object(5)
memory usage: 669.3+ MB

The time format needs to be changed to standard datetime (YYYY-MM-DD) for import into MySql.

In [52]:
from datetime import datetime
# Converting times to datetime format
df['Start Time'] = df['Start Time'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y %H:%M').strftime('%Y-%m-%d %H:%M'))
df['End Time'] = df['End Time'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y %H:%M').strftime('%Y-%m-%d %H:%M'))

In [54]:
# Check for na
df.isna().sum()

Trip Id                    0
Trip  Duration             0
Start Station Id           0
Start Time                 0
Start Station Name    224094
End Station Id          3491
End Time                   0
End Station Name      228829
Bike Id                  203
User Type                  0
dtype: int64

In [56]:
# Checking to see reasons why there is NaN 
df[df['Start Station Name'].isna()]

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
139,10644380,1415,7660,2021-01-01 02:06,NaN,7660.0,2021-01-01 02:29,NaN,3334.0,Casual Member
141,10644382,1381,7660,2021-01-01 02:06,NaN,7660.0,2021-01-01 02:29,NaN,1389.0,Casual Member
344,10644688,93,7663,2021-01-01 09:54,NaN,7663.0,2021-01-01 09:56,NaN,2790.0,Annual Member
348,10644692,1018,7663,2021-01-01 09:57,NaN,7663.0,2021-01-01 10:14,NaN,4893.0,Annual Member
363,10644711,852,7663,2021-01-01 10:15,NaN,7663.0,2021-01-01 10:29,NaN,2729.0,Annual Member
...,...,...,...,...,...,...,...,...,...,...
8773030,20809483,482,7762,2023-03-31 23:30,NaN,7033.0,2023-03-31 23:38,Union Station,433.0,Casual Member
8773035,20809493,468,7770,2023-03-31 23:33,NaN,7772.0,2023-03-31 23:41,NaN,5027.0,Annual Member
8773045,20809508,802,7719,2023-03-31 23:37,NaN,7143.0,2023-03-31 23:51,Kendal Ave / Bernard Ave,4178.0,Annual Member
8773087,20809556,450,7772,2023-03-31 23:50,NaN,7160.0,2023-03-31 23:58,King St W / Tecumseth St,5662.0,Casual Member
8773094,20809564,374,7762,2023-03-31 23:54,NaN,7271.0,2023-04-01 00:00,Yonge St / Alexander St - SMART,1425.0,Casual Member

Notice that there are `Start Station Id` and `End Station Id` but the names are NaN. Could be because those specific Id's don't have an associated name with them. Next, check to see if that is the case by looking at the specific IDs and to see if the start station name is always NaN.

In [57]:
# checking to see if start station id's are missing names
df[df['Start Station Id'] == 7660]

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
139,10644380,1415,7660,2021-01-01 02:06,NaN,7660.0,2021-01-01 02:29,NaN,3334.0,Casual Member
141,10644382,1381,7660,2021-01-01 02:06,NaN,7660.0,2021-01-01 02:29,NaN,1389.0,Casual Member
1131,10645602,193,7660,2021-01-01 15:15,NaN,7418.0,2021-01-01 15:18,College Park - Yonge St Entrance,4892.0,Casual Member
1192,10645668,813,7660,2021-01-01 15:30,NaN,7100.0,2021-01-01 15:43,Dundas St E / Regent Park Blvd,5774.0,Annual Member
1205,10645681,1631,7660,2021-01-01 15:33,NaN,7006.0,2021-01-01 16:00,Bay St / College St (East Side),6045.0,Annual Member
...,...,...,...,...,...,...,...,...,...,...
8772124,20808434,169,7660,2023-03-31 19:53,285 Victoria St,7693.0,2023-03-31 19:56,NaN,5115.0,Casual Member
8772209,20808540,1472,7660,2023-03-31 20:09,285 Victoria St,7164.0,2023-03-31 20:34,Gould St / Yonge St (Ryerson University),4551.0,Casual Member
8772555,20808915,751,7660,2023-03-31 21:17,285 Victoria St,7031.0,2023-03-31 21:29,Jarvis St / Isabella St,1941.0,Annual Member
8772556,20808916,1109,7660,2023-03-31 21:17,285 Victoria St,7286.0,2023-03-31 21:35,Gerrard St E / Broadview - SMART,2976.0,Annual Member
8772894,20809294,1340,7660,2023-03-31 22:41,285 Victoria St,7016.0,2023-03-31 23:03,Bay St / Queens Quay W (Ferry Terminal),2601.0,Casual Member

Surprisingly, it isn't missing a `Start Station Name` for all entries but only for earlier dates whereas the latest dates, it has a name. Therefore, the missing values could be imputed from later entries.

In [71]:
# creating a new df for station id and names
newDF = df

In [76]:
set(df['End Station Id'].unique()) - set(df['Start Station Id'].unique())

{7394.0, 7690.0, nan}

In [80]:
df[df['End Station Id'] == 7690]

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
3809391,15100519,421270,7418,2022-03-23 16:01,College Park - Yonge St Entrance,7690.0,2022-03-28 13:02,NaN,3361.0,Casual Member
3952215,15270281,0,7292,2022-04-14 23:09,Granby St / Church St - SMART,7690.0,2022-04-14 23:09,NaN,5153.0,Annual Member
4143679,15500941,39270,7076,2022-05-05 20:38,York St / Queens Quay W,7690.0,2022-05-06 07:32,NaN,4852.0,Casual Member
4497037,15909564,0,7639,2022-05-26 18:41,135 Queens Wharf - SMART,7690.0,2022-05-26 18:41,NaN,127.0,Casual Member
4516549,15932063,1202,7259,2022-05-28 07:39,Lower Spadina Ave / Lake Shore Blvd,7690.0,2022-05-28 07:59,NaN,655.0,Casual Member
4700138,16141981,0,7400,2022-06-05 17:33,Polson Pier,7690.0,2022-06-05 17:33,NaN,5993.0,Annual Member
5128675,16642537,18120,7324,2022-06-27 07:37,King St W / Charlotte St (West Side),7690.0,2022-06-27 12:39,NaN,3923.0,Casual Member
5221142,16750720,0,7056,2022-07-01 17:43,Parliament St / Gerrard St,7690.0,2022-07-01 17:43,NaN,6989.0,Annual Member
6066782,17721745,0,7271,2022-08-09 12:33,Yonge St / Alexander St - SMART,7690.0,2022-08-09 12:33,NaN,6322.0,Annual Member
6343324,18034260,533547,7391,2022-08-20 17:42,Yonge St / Dundas Sq,7690.0,2022-08-26 21:54,NaN,4644.0,Annual Member
6504949,18218409,487992,7235,2022-08-28 01:31,Bay St / College St (West Side) - SMART,7690.0,2022-09-02 17:04,NaN,3426.0,Casual Member
6648358,18380740,1395260,7067,2022-09-03 13:44,Yonge St / Harbour St,7690.0,2022-09-19 17:18,NaN,4766.0,Casual Member
6679071,18415843,0,7492,2022-09-04 19:16,324 Cherry St,7690.0,2022-09-04 19:16,NaN,1611.0,Casual Member
6712145,18454062,0,7245,2022-09-06 15:04,Tecumseth St / Queen St W - SMART,7690.0,2022-09-06 15:04,NaN,3786.0,Annual Member
6723863,18466610,1112591,7472,2022-09-06 22:10,Dundas St E / Victoria St,7690.0,2022-09-19 19:13,NaN,1725.0,Casual Member
6783953,18534198,41473,7298,2022-09-09 17:26,Bathurst St / Adelaide St W,7690.0,2022-09-10 04:57,NaN,47.0,Casual Member
6811170,18564787,38970,7298,2022-09-10 17:07,Bathurst St / Adelaide St W,7690.0,2022-09-11 03:57,NaN,3119.0,Casual Member
6811210,18564835,32265,7298,2022-09-10 17:08,Bathurst St / Adelaide St W,7690.0,2022-09-11 02:06,NaN,3567.0,Casual Member
6811287,18564887,34848,7298,2022-09-10 17:10,Bathurst St / Adelaide St W,7690.0,2022-09-11 02:50,NaN,3626.0,Casual Member
7023597,18802019,40932,7303,2022-09-20 23:26,Queen St E / Woodward Ave,7690.0,2022-09-21 10:48,NaN,4993.0,Casual Member
7101259,18889515,211255,7110,2022-09-24 21:33,Queen St E / Berkeley St,7690.0,2022-09-27 08:14,NaN,2256.0,Casual Member
7464118,19306829,183069,7571,2022-10-16 16:59,Highfield Rd / Gerrard St E,7690.0,2022-10-18 19:50,NaN,6820.0,Annual Member
7570219,19430577,326511,7292,2022-10-23 16:39,Granby St / Church St - SMART,7690.0,2022-10-27 11:21,NaN,1006.0,Casual Member
7885903,19786444,1447242,7038,2022-11-14 18:57,Dundas St W / Yonge St,7690.0,2022-12-01 12:58,NaN,5440.0,Annual Member
8202192,20156744,1199515,7043,2023-01-02 15:05,Queens Quay W / Lower Simcoe St,7690.0,2023-01-16 12:17,NaN,4437.0,Casual Member
8219051,20177213,0,7474,2023-01-05 18:26,Clarence Square,7690.0,2023-01-05 18:26,NaN,1999.0,Casual Member
8254408,20217301,904441,7046,2023-01-10 21:02,Niagara St / Richmond St W,7690.0,2023-01-21 08:16,NaN,2562.0,Casual Member
8387713,20368873,0,7158,2023-02-02 22:02,King St W / Stafford St,7690.0,2023-02-02 22:02,NaN,1561.0,Casual Member
8512006,20511638,0,7226,2023-02-20 15:06,Lake Shore Blvd W / The Boulevard Club,7690.0,2023-02-20 15:06,NaN,4431.0,Casual Member
8576657,20586026,0,7018,2023-03-05 19:27,Bremner Blvd / Rees St,7690.0,2023-03-05 19:27,NaN,1122.0,Casual Member
8663658,20684931,853058,7299,2023-03-19 13:05,Mill St / Parliament St,7690.0,2023-03-29 10:02,NaN,7221.0,Casual Member

In [85]:
df[df['Trip  Duration'] == 0]

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
333,10644662,0,7470,2021-01-01 09:41,York St / Lake Shore Blvd W,NaN,2021-01-01 09:41,NaN,5761.0,Annual Member
1304,10645786,0,7063,2021-01-01 16:00,Queen's Park / Bloor St W,NaN,2021-01-01 16:00,NaN,6731.0,Annual Member
1335,10645823,0,7419,2021-01-01 16:10,Bloor St W / Huron St,NaN,2021-01-01 16:10,NaN,6835.0,Casual Member
1444,10645959,0,7281,2021-01-01 16:38,Charles St W / Balmuto St - SMART,NaN,2021-01-01 16:38,NaN,5748.0,Annual Member
1933,10646723,0,7072,2021-01-02 10:10,Fleet St / Bathurst St,7569.0,2021-01-02 10:10,Toronto Inukshuk Park,2306.0,Annual Member
...,...,...,...,...,...,...,...,...,...,...
8767449,20802672,0,7335,2023-03-31 00:31,Bay St / Bloor St W (West Side),7548.0,2023-03-31 00:31,St Joseph St / Bay St - SMART,4929.0,Annual Member
8768501,20804107,0,7379,2023-03-31 08:45,Lawton Blvd / Yonge St,7548.0,2023-03-31 08:45,St Joseph St / Bay St - SMART,1856.0,Casual Member
8769268,20805134,0,7724,2023-03-31 11:50,NaN,NaN,2023-03-31 11:50,NaN,5052.0,Casual Member
8769584,20805557,0,7452,2023-03-31 13:32,Bleecker St / St James Ave,7452.0,2023-03-31 13:32,Bleecker St / St James Ave,6037.0,Casual Member
8770554,20806646,0,7389,2023-03-31 16:20,College Park- Gerrard Entrance,NaN,2023-03-31 16:20,NaN,277.0,Casual Member

In [64]:
df['Start Station Name'].fillna(method='ffill').loc[139]

'Dundas St E / Regent Park Blvd'

In [61]:
# Seeing how many unique station ids are missing names
df[df['Start Station Name'].isna()]['Start Station Id'].value_counts()

7682    21032
7693    17739
7707    17566
7685    11483
7720    11288
        ...
7756        8
7663        8
7771        3
7767        2
7769        2
Name: Start Station Id, Length: 100, dtype: int64

In [62]:
df[df['End Station Name'].isna()]['End Station Id'].value_counts()

7682.0    21350
7707.0    17647
7693.0    17545
7685.0    11839
7720.0    11313
          ...
7756.0       10
7663.0        7
7767.0        4
7769.0        3
7771.0        3
Name: End Station Id, Length: 101, dtype: int64

There are 100

In [53]:
# Convert all ids into int (no need for decimals)
df['End Station Id'] = df['End Station Id'].astype(int)
df['Bike Id'] = df['Bike Id'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer